<a href="https://colab.research.google.com/github/slu1113/WebSite2/blob/master/%E3%80%8C20220725_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown語法教學
## 標題二
### 標題三

這是內文*CTRL+C*這是內文**CTRL+V**這是內文這是內文***CTRL+X***這是內文`ESC`這是內文這是內文這是內文這是內文

這是內文這是內文[這是內文](https://www.google.com)這是內文這是內文這是內文這是內文這是內文

---

1. 編號1：這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
2. 編號2
3. 編號3

* 項目一：這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
* 項目二
* 項目三

>小技巧  
小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧

```Python
print("Hello Kitty")
print("123")
print("Hello Kitty")
print("123")
print("Hello Kitty")
print("123")
```
    print("Hello Kitty")
    print("123")
    print("Hello Kitty")

https://www.google.com

[Google官網](https://www.google.com)

![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)

[![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](https://www.google.com "Google官網")

# 新增區段

# 一、變數與資料型態

In [ ]:
# 變數的宣告與輸出
x = 0
y = 1
a = b = c = 0
name, age = "David", 18

print(x, y, a, b, c, name, age)

0 1 0 0 0 David 18

In [ ]:
# 變數的資料型態
# int, float, str, bool
# type() 檢視變數的資料型態

x = 1
pi = 3.14159
name = "David"
isMarry = True

# print(x, pi, name, isMarry)
print(type(x))
print(type(pi))
print(type(isMarry))

# 資料型別的轉換
# int(), float(), str(), bool(), eval()

<class 'int'>
<class 'float'>
<class 'bool'>

# 二、輸出與輸入

### 輸出：print()

In [ ]:
# print() 參數
# sep 間隔符號, 預設值 ' '
# end 結束符號, 預設值 '\n'

# print(1, 2, 3, 3.14, 'David', True)
# print(1, 2, 3, 4, 5, sep="&")
# print(1, 2, 3, 4, 5, sep="&", end='.')
print(1, 2, 3, 4, 5, end='\n')
print(6, 7, 8, 9, 10, end='\n')

1 2 3 4 5
6 7 8 9 10

In [ ]:
# print()參數格式化 : %
# print("%s考了%d分" % ("李小美", 90))
# print("王小明考了80分")
print("%s考了%d分" % ("王小明", 80))
print("%5s考了%3d分" % ("王小明", 80))
print("%-5s考了%-3d分" % ("王小明", 80))
print("圓周率是%.2f" % (3.14159))

王小明考了80分
  王小明考了 80分
王小明  考了80 分
圓周率是3.14

In [ ]:
# print()參數格式化 : format()
# print("考了{1}分的人是{0}".format("王小明", 80))
# print("考了{1}分的人是{0},真的是{0}啊!".format("王小明", 80))
print("王小明考了80分")
print("{}考了{}分".format("王小明", 80))
print("{0:5}考了{1:3}分".format("王小明", 80))
print("{0:>5}考了{1:<3}分".format("王小明", 80))
print("{0:^5}考了{1:<3}分".format("王小明", 80))
print("圓周率是{:.2f}".format(3.14159))

王小明考了80分
王小明考了80分
王小明  考了 80分
  王小明考了80 分
 王小明 考了80 分
圓周率是3.14

In [ ]:
# f-strings
name = '王小明'
score = 80
# print(name + "考了" + str(score) + "分")
print(f"{name:5}考了{score:3}分")
print(f"{name:^5}考了{score:<3}分")
# x = 2
# y = 5
# print(f"{x} * {y} = {x * y}")

王小明  考了 80分
 王小明 考了80 分

In [ ]:
print(f"{name:x^5}考了{score:03}分")

x王小明x考了080分

## 輸入：input()

In [ ]:
score1 = input("請輸入你的國文成績：")
# print(f"你的國文成績是{score1}")
print("你的國文成績是：{}".format(score1))

請輸入你的國文成績：90
你的國文成績是：90

In [ ]:
score1 = input("請輸入你的國文成績：")
score2 = input("請輸入你的英文成績：")
print("你的總分是：{}".format(score1 + score2))

請輸入你的國文成績：80
請輸入你的英文成績：90
你的總分是：8090

In [ ]:
score1 = int(input("請輸入你的國文成績："))
score2 = int(input("請輸入你的英文成績："))
print("你的總分是：{}".format(score1 + score2))

請輸入你的國文成績：80
請輸入你的英文成績：90
你的總分是：170

## 註解

In [ ]:
# 註解符號快速鍵 Ctrl + /

# 單行註解

# 多行註解
# 多行註解
# 多行註解

example = """
多行註解
多行註解多行註解多行註解多行註解多行註解
多行註解多行註解多行註解多行註解多行註解多行註解
"""

In [ ]:
example

'\n多行註解\n多行註解多行註解多行註解多行註解多行註解\n多行註解多行註解多行註解多行註解多行註解多行註解\n'

# 三、運算子

## 算術運算子 

* + - * / %(求餘) //(求商) **(指數)
* / 稱為slash，台灣稱為斜線，中國(大陸)常稱為斜槓。
* \ 稱為backslash，台灣稱為反斜線，中國(大陸)常稱為反斜槓。

In [ ]:
x = 5 
y = 2

print(x + y, x - y, x * y, x / y)
print(x % y, x // y, x ** y)

7 3 10 2.5
1 2 25

## 比較運算子 
==, !=, >, >=, <, <=

In [ ]:
x = 5
y = 2

x == y

False

## 邏輯運算子
and, or, not

In [ ]:
x = 5
y = 2

# (x == y) and (x > y)
# (x == y) or (x > y)
# not (x == y)

True

## 複和指定運算子 
+=, -=

In [ ]:
x = 1
x = x + 1
print(x)

x = x - 1
print(x)

2
1

## 範例：溫度轉換器

華氏 = 攝氏*(9/5)+32

In [ ]:
TC = float(input("請輸入攝氏溫度："))
TF = TC * (9 / 5) + 32
# print("攝氏{1}度等於華氏{0}度".format(TF, TC))
print(f"攝氏{TC}度等於華氏{TF}度")

請輸入攝氏溫度：40
攝氏40.0度等於華氏104.0度

## 範例：BMI計算機

$BMI = 體重(kg) / 身高(m) ^ 2$

In [ ]:
h = int(input("請輸入你身高(cm)："))
w = int(input("請輸入你的體重(kg)："))
bmi = w / (h / 100) ** 2
print("身高{}公分, 體重{}公斤, BMI值為{:.2f}".format(h, w, bmi))

請輸入你身高(cm)：180
請輸入你的體重(kg)：80
身高180公分, 體重80公斤, BMI值為24.69

# 四、判斷式

In [ ]:
# 雙向判斷式
score = int(input("請輸入你的成績："))
if score >= 60:
    print("Pass")
else:
    print("Down")

請輸入你的成績：55
Down

In [ ]:
# 多向判斷式：
score = int(input("請輸入你的成績："))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("Down")

請輸入你的成績：59
Down

In [ ]:
# 判斷輸入值是否為整數
# 1. 輸入值變整數。與原輸入值相減等於0則為整數。
# 2. abs(x)==x

# num = eval(input())
# num2 = int(num)
# if (num-num2) != 0: 
#     print("NO")
# else: 
#     print("YES")

n = input("請輸入一個整數：")
n.isdigit()

請輸入一個整數：12

True

In [ ]:
# 判斷奇偶數
n = int(input("請輸入一個正整數："))
if n % 2 == 0:
    print(f"數字{n}為偶數")
else:
    print(f"數字{n}為奇數")

請輸入一個正整數：2
數字2為偶數

In [ ]:
# 判斷閏年-巢狀判斷式
year = int(input("請輸入一個西元年："))
if year % 100 == 0 :
    if year % 400 == 0:
        print(f"西元{year}年是閏年")
    else:
        print(f"西元{year}年不是閏年")
else:
    if year % 4 == 0:
        print(f"西元{year}年是閏年")
    else:
        print(f"西元{year}年不是閏年")

請輸入一個西元年：1900
西元1900年不是閏年

In [ ]:
# 判斷閏年-多向判斷式
year = int(input("請輸入一個西元年："))
if year % 100 == 0 and year % 400 == 0:
    print(f"西元{year}年是閏年")
elif year % 100 != 0 and year % 4 == 0:
    print(f"西元{year}年是閏年")
else:
    print(f"西元{year}年不是閏年")

請輸入一個西元年：1900
西元1900年不是閏年

# 五、自訂函式

In [ ]:
# 自訂函式基本格式
def sayHello():
    print("Hello")

sayHello()
sayHello()

Hello
Hello

In [ ]:
# 自訂函式：參數的使用
def sayHello(name):
    print("Hello, {}.".format(name))

sayHello("David")
sayHello("Lily")

Hello, David.
Hello, Lily.

In [ ]:
# 自訂函式：回傳值
def sayHello(name):
    msg = "Hello, {}.".format(name)
    return msg

msg = sayHello("Lily")

In [ ]:
print(msg)

Hello, Lily.

In [ ]:
# 計算面積自訂函式
# getArea(), 參數 w, h, 回傳值 area
# 我有二塊地，一塊是寬5,高4，一塊是寬10，高5, 請計算總面積

def getArea(w, h):
    area = w * h
    return area

area1 = getArea(5, 4)
area2 = getArea(10, 5)
print("我家的地總面積是 {}".format(area1 + area2))

我家的地總面積是 70

In [ ]:
# 自訂函式 tctotf(), 參數 tc
# TF = TC * (9 / 5) + 32

def tctotf(TC):
    TF = TC * (9 / 5) + 32
    return TF

TC = float(input("請輸入攝氏溫度："))
print("攝氏{}度等於華氏{}度".format(TC, tctotf(TC)))

請輸入攝氏溫度：32
攝氏32.0度等於華氏89.6度

In [ ]:
# 自訂函式：getBMI()，參數 h, w
# bmi值 <= 18.5，加訊息 你太瘦了，多吃一點。
# bmi值 > 24，加訊息 你太胖了，少吃一點。
# bmi值在這之間，加訊息 恭禧你，身材標準。

def getBMI(h, w):
    bmi = w / (h / 100) ** 2
    return bmi

h = int(input("請輸入你的身高(cm)："))
w = int(input("請輸入你的體重(kg)："))
bmi = getBMI(h, w)
print("身高{}公分，體重{}公斤，BMI值為{:.2f}".format(h, w , bmi))
if bmi <= 18.5:
    print("你太瘦了，多吃一點。")
elif bmi > 24:
    print("你太胖了，少吃一點。")
else:
    print("恭禧你，身材標準。")

請輸入你的身高(cm)：180
請輸入你的體重(kg)：80
身高180公分，體重80公斤，BMI值為24.69
你太胖了，少吃一點。

# 六、串列與整數串列

## 串列

In [ ]:
# 宣告串列的方式
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = ["Apple", "Banana", "Cherry"]
list3 = ["David", 180, 80, 24.61, True]

# 查詢資料型別
# type(list1)
# type(list2)
# type(list3)

list

In [ ]:
# 串列取值-使用索引值
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 取出單一的元素值 格式：串列[索引值]
list1[2]
list1[5]

# 取出範圍元素值
# 格式：串列[起始索引：終止索引]
list1[2:5]  # 3, 4, 5
list1[5:8]  # 6, 7, 8

# 取出範圍元素值,有間隔
# 格式：串列[起始索引:終止索引:間隔值]
list1[0:9:2]
list1[1:9:2]

# 取出特定範圍值
# 取出所有的值
list1[0:9]
list1[:]
# 取出前幾名的值
list1[0:3]
list1[:3]
# 取出後幾名的值
list1[4:9]
list1[4:]

# 取出最後一個值
len(list1) #計算串列的元素值的數量
list1[len(list1)-1]
list1[-1]
list1[-4]
list1[-3:]
list1[-5:]

# 將串列倒序取出
list1[::-1]
list1[::-2]

[9, 7, 5, 3, 1]

In [ ]:
str1 = 'abcdefg'
addr1 = '台北市大同區忠孝東路一段100號'
food = 'milk'

str1[2]
str1[2:5]
addr1[0:3]
addr1[:3]
addr1[:6]
food[::-1]

'klim'

## 整數串列 range()

In [ ]:
# 整數串列宣告
# range([起始索引, ]終止索引[, 間隔值])

list(range(5))
list(range(1, 10))
list(range(1, 10, 2))
list(range(2, 10, 2))
list(range(9, 0, -1))
list(range(9, -1, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 七、迴圈

## for 迴圈

### for list

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']
for fruit in fruits:
    # print(fruit)
    print(fruit, end=',')

Apple,Banana,Cherry,

In [ ]:
# 用 for list 迴圈計算 1 加到 10
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    total = total + i
print(total)

55

In [ ]:
# 用 for list 迴圈計算 1 到 10 的偶數相加
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1[1::2]:
    total = total + i
print(total)

30

In [ ]:
# 用 for list 迴圈計算 1 到 10 之間 3 的倍數, 而且是奇數值的加總
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    if i % 3 == 0:
        if i % 2 != 0:
            total = total + i
print(total)

12

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    if i % 3 == 0 and i % 2 != 0:
        total = total + i
print(total)

12

### for range

In [ ]:
# 用 for range 迴圈計算 1 加到 10
total = 0
for i in range(1, 11):
    total = total + i
print(total)

55

In [ ]:
# 用 for range 迴圈計算 1 到 10 之間的偶數和
total = 0
for i in range(2, 11, 2):
    total = total + i
print(total)

30

In [ ]:
# 用 for range 迴圈計算 1 到 1000 之間 3 的倍數, 而且是奇數值的加總
total = 0
for i in range(1, 1001):
    if i % 3 == 0 and i % 2 != 0:
        total = total + i
print(total)

83667

In [ ]:
# 用 for range 迴圈將所有水果名印出
fruits = ['Apple', 'Banana', 'Cherry']
for i in range(len(fruits)):
    print(fruits[i])

Apple
Banana
Cherry

In [ ]:
animals = "鼠牛虎兔龍蛇馬羊猴雞狗豬"
# animals[:5]

# for animal in animals:
#     print(animal, end='')

# for i in range(0, 5):
#     print(animals[i], end='')

鼠牛虎兔龍

## while 迴圈

In [ ]:
# 用 while 迴圈計算 1 到 10 加總
i = 1
total = 0
while i <= 10 :
    total = total + i
    i = i + 1
print(total)

55

In [ ]:
# 用 while 迴圈計算 1 到 10 偶數加總
i = 1
total = 0
while i <= 10:
    if i % 2 == 0:
        total = total + i
    i = i + 1
print(total)

30

In [ ]:
# 用 while 迴圈計算 1 到 1000 之間 3 的倍數, 而且是奇數值的加總
i = 1
total = 0
while i <= 1000:
    if i % 3 == 0 and i % 2 !=0:
        total = total + i
    i = i + 1
print(total)

83667

## break, continue

In [ ]:
# break 跳出迴圈
for i in range(1, 11):
    if i == 4:
        break
    print(i, end=',')

1,2,3,

In [ ]:
# continue 跳過迴圈
for i in range(1, 11):
    if i == 4:
        continue
    print(i, end=',')

1,2,3,5,6,7,8,9,10,

In [ ]:
# 九九乘法表(一)
for i in range(2, 10):
    for j in range(2, 10):
        print("{} * {} = {:02}".format(i, j, i*j))
    print('-' * 10)

2 * 2 = 04
2 * 3 = 06
2 * 4 = 08
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 2 = 06
3 * 3 = 09
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 2 = 08
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [ ]:
# 九九乘法表(二)
for i in range(2, 10):
    for j in range(2, 10):
        print("{}*{}={:02}".format(i, j, i*j), end="  ")
    print()

2*2=04  2*3=06  2*4=08  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*2=06  3*3=09  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*2=08  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

```
*
***
*****
*******
*********
```

In [ ]:
stars = """
*
***
*****
*******
*********
"""
print(stars)

*
***
*****
*******
*********

In [ ]:
# list(range(1, 10, 2))
for i in range(1, 10, 2):
    print(i * '*')

*
***
*****
*******
*********

In [ ]:
for i in range(1, 10, 2):
    print((9-i) * ' ', end='')
    print(i * '*')

        *
      ***
    *****
  *******
*********

In [ ]:
for i in range(1, 10, 2):
    print(int((9-i) / 2) * ' ', end='')
    print(i * '*')

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1, 10, 2):
    print("{:9}".format(i * '*'))

for i in range(1, 10, 2):
    print("{:>9}".format(i * '*'))    

for i in range(1, 10, 2):
    print("{:^9}".format(i * '*'))

*
***
*****
*******
*********
        *
      ***
    *****
  *******
*********
    *
   ***
  *****
 *******
*********